main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex-direction: column;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    background-color: #eee;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;

}
header h1{
    margin: 0;
    font-size: 18pt;
}
header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
header nav ul li{
    display: inline;
    border-bottom:#eee solid 2px;
}
header nav ul li:hover{
    border-bottom: #000 solid 2px;
}
header nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 16px;
}
header nav ul li a.active{
    font-weight: bold;
}
header button{
    color: #000;
    text-decoration: none;
    font-size: 16px;    
    border: none;
    height: 30px;
    width: 100px;   
}
.buttonGoCar{
    padding: 0 6px ;
}
.buttonSignOut{
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;  
    padding-top: 64px;
}
.logo{
    width: 45%;
    height: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
.welcome-message{
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 80px;
}
.welcome-message h2{
    font-size: 24pt;
    margin: 0;
}
.welcome-message p{
    font-size: 16pt;
    margin: 0;
    width: 80%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 64px;
}
.product-list{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto ;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding-top: 64px;
    gap: 80px;
    flex-wrap: wrap;
}
.product-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.add-to-cart-button{
    width: 100px;
    height: 30px;
    border: none;
    background-color: #000;
    color: #eee ;
    border-radius: 5px;
}